<% content_for :title, "- Teams" %>
<h1>Listing teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "team_number", "#" %></th>
      <th><%= sortable "nickname", "Name" %></th>
      <th><%= sortable "location", "Location" %></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_number %></td>
        <td><%= team.nickname %></td>
        <td><%= team.location %></td>
        <td><%= link_to 'View', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>