<% content_for :title, "- Kit of Parts" %>
<% track_event("Loaded Kit of Parts") %>
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<%= link_to image_tag("FRCicon.gif", class: "FRCicon"), "http://www.usfirst.org/roboticsprograms/frc", { :target=>"_blank" } %>
			</div>
			<div class="col-sm-4 tba">
				<i>Team & Event Data Provided By</i>
				<div class="tba-logo"><%= link_to (image_tag("tba_lamp.png")+"The Blue Alliance").html_safe, "http://thebluealliance.com", { :target=>"_blank"} %></div>
			</div>
		</div>
	</div>
</div>
<div class="container kop-gamelist">
	<div class="row">
	  <div class="col-xs-12 col-sm-6">
	  	<%= link_to image_tag("2014-Game.jpg", class: "kop-game"), kop_year_path(:id => "2014"), { :class=>"kop-thumb thumbnail" } %>
	  	<%= link_to image_tag("2013-Game.jpg", class: "kop-game"), kop_year_path(:id => "2013"), { :class=>"kop-thumb thumbnail" } %>
	  	<%= link_to image_tag("2012-Game.jpg", class: "kop-game"), kop_year_path(:id => "2012"), { :class=>"kop-thumb thumbnail" } %>
	  </div>
	  <div class="col-xs-12 col-sm-6 ">
	  	<%= link_to image_tag("2011-Game.jpg", class: "kop-game"), kop_year_path(:id => "2011"), { :class=>"kop-thumb thumbnail" } %>
	  	<%= link_to image_tag("2010-Game.jpg", class: "kop-game"), kop_year_path(:id => "2010"), { :class=>"kop-thumb thumbnail" } %>
	  	<%= link_to image_tag("2009-Game.jpg", class: "kop-game"), kop_year_path(:id => "2009"), { :class=>"kop-thumb thumbnail" } %>
	  </div>
	</div>
</div>