<div class="container">
<div class="row">
  <div class="col-xs-12 col-md-5 col-md-push-7 table-responsive">
    <table class="table table-condensed table-center">
      <tbody>
        <% if @events.blank? %>
          <tr>
            <td><h1><small>No Events.</small></h1></td>          
          </tr>
        <% else %>
          <% @events.each do |event| %>
            <tr>
              <td><h3><%= link_to event.name, event_path(event.key) %></h3><p><%= event.start_date.strftime("%A %B %d") %> - <%= event.end_date.strftime("%A %B %d") %></p></td>          
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @myteam.each_with_index do |person, index| %>
          <tr <% if person.id == current_user.id %>class="success"<% end %> >
            <td><%= index+1 %></td>
            <td><%= person.email %></td>
            <td><%= person.first_name %> <%= person.last_name %><% if person.id == current_user.id %> <span class="label label-success">You</span><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-md-6 col-md-pull-5 table-responsive">
  <table class="table">
    <tbody id="live-feed">
      <% if @requests.blank? %>
        <tr>
          <td><h1 style="text-align:center;"><small>No Requests.</small></h1></td>          
        </tr>
      <% else %>
        <% @requests.each do |request| %>
          <tr>
            <td class="media">
              <div class="left"><div class="imgcenter"></div><%= image_tag("kop#{request.part.year}/#{request.part.picture}", class: "media-object") %></div>
              <div class="media-body">
                <div><h4 class="media-heading"><%= request.part.name %> <small>Quantity <b><%=  request.qty %></b></small></h4></div>
                <div><p><%= request.part.description %></p></div>
                <div class="left"><span class="label label-primary">Team <%= request.team.team_number %></span></div>
              </div>
              <% if request.accepted %>
              <div class="right"><p>Accepted By</p><span class="label label-success">Team <%= request.accepted_by %></span></div>
              <% elsif request.team_id == current_user.team_number_id %>
              <div class="right"><%= button_to "Delete", event_request_path(:event_id => request.event_id, :id => request.id), :method => :delete, :class => "btn btn-danger" %></div>
              <% elsif request.accepted == false %>
              <div class="right"><%= button_to "Accept", event_accept_request_path(:event_id => request.event_id, :id => request.id), :class => "btn btn-success" %></div>
              <% end %>
            </td>          
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>