<% @requests.each do |request| %>
	s = '<td class="media"><div class="left"><div class="imgcenter"></div><%= image_tag("kop#{request.part.year}/#{request.part.picture}", class: "media-object") %></div><div class="media-body"><div><h4 class="media-heading"><%= request.part.name %> <small>Quantity <b><%=  request.qty %></b></small></h4></div><div><p><%= request.part.description %></p></div><div class="left"><span class="label label-primary">Team <%= request.team.team_number %></span></div></div><% if request.accepted %><div class="right"><p>Accepted By</p><span class="label label-success">Team <%= request.accepted_by %></span></div><% elsif request.team_id == current_user.team_number_id %><div class="right"><%= button_to "Delete", event_request_path(:event_id => request.event_id, :id => request.id), :method => :delete, :class => "btn btn-danger" %></div><% elsif request.accepted == false %><div class="right"><%= button_to "Accept", event_accept_request_path(:event_id => request.event_id, :id => request.id), :class => "btn btn-success" %></div><% end %></td>';

	newrow = document.createElement( "tr" );
	newrow.innerHTML = s;

 	$("#live-feed").prepend(newrow);

<% end %>