<% content_for :title, "- Events" %>
<h1>Listing events</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "start_date", "Dates" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.start_date.strftime("%A %B %d") %> to <%= event.end_date.strftime("%A %B %d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>