<div class="container">
	<% if user_signed_in? %>
		<div class="new right">
			<button class="btn btn-success" data-toggle="modal" data-target=".bs-request-modal">New Request</button>
		</div>
	<% end %>
	<h2><%= @event.name %></h2>
	<%= @event.start_date.strftime("%A %B %d") %> - <%= @event.end_date.strftime("%A %B %d") %>
	<hr>

	<%= link_to 'View other Events', events_path %>
	<% if user_signed_in? %>
		<div class="modal fade bs-request-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h4 class="modal-title">New Part Request</h4>
			    </div>
			    <div class="modal-body">
			      	<%= form_for([@event, @event.requests.build]) do |f| %>
					  <div class="field">
					    <%= f.label :part_id %><br>
					    <%= f.number_field :part_id %>
					  </div>
					  <div class="field">
					    <%= f.label :qty %><br>
					    <%= f.number_field :qty %>
					  </div>
					  <%= f.hidden_field :team_id, :value => "#{current_user.team_number_id}" %>
					
					  <div class="modal-footer">
					  	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					    <%= f.submit "Submit", :class => "btn btn-primary" %>
					  </div>
					<% end %>
				</div>
		    </div>
		  </div>
		</div>
	<% end %>
	<div class="col-xs-12 col-sm-6 col-lg-6">
	<table class="table table-center ">
      <tbody>
      	<% if @requests.presence %>
        <% @requests.each do |request| %>
          <tr>
      			<td class="media">
      				<div class="left"><div class="imgcenter"></div><%= image_tag("kop#{request.part.year}/#{request.part.picture}", class: "media-object") %></div>
      				<div class="media-body">
      					<h4 class="media-heading"><%= request.part.name %> <small>Quantity <b><%=  request.qty %></b></small></h4>
      					<p>Team <%= request.part.description %></p>
      				</div>
      				<div class="right"><p>Team <%= request.team.team_number %></p><p>Team <%= request.team.nickname %></p></div>
      			</td>          
      		</tr>
        <% end %>
   		<% else %>
			<tr>
				<td><div style="text-align:center;"><h1><small>No Requests</small></h1></div></td>
			</tr>
		<% end %>
      </tbody>
    </table>
    </div>
</div>
