<div class="container">
	<% if user_signed_in? %>
		<div class="new right">
			<a href="" class="btn btn-success">New Request</a>
			<!-- Add javascript for button to show the requests form div below. -->
		</div>
	<% end %>
	<h2><%= @event.name %></h2>
	<%= @event.start_date.strftime("%A %B %d") %> - <%= @event.end_date.strftime("%A %B %d") %>
	<hr>

	<%= link_to 'View other Events', events_path %>
	<% if user_signed_in? %>
		<div>			
			<%= form_for([@event, @event.requests.build]) do |f| %>
			  <div class="field">
			    <%= f.label :part_id %><br>
			    <%= f.number_field :part_id %>
			  </div>
			  <div class="field">
			    <%= f.label :year %><br>
			    <%= f.select :year, options_for_select([['2013', '2013'], ['2012', '2012'], ['2011', '2011'], ['2010', '2010'], ['2009', '2009']]) %>
			  </div>
			  <div class="field">
			    <%= f.label :qty %><br>
			    <%= f.number_field :qty %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>
		</div>
	<% end %>
	<ul class="media-list col-md-6">
		<% @requests.each do |r| %>
			<li class="media">
			<%= link_to([r.event, r]) do %>
			  <div class="media-body">
					<h3 class="media-heading">Team: <%= r.team_id %></h3>
					<h4>Part Id: <%= r.part_id %></h4>
				</div>
				<div class="right"><a>QTY</a></br></br><a><%=  r.qty %></a></div>
			<% end %>
			</li>
		<% end %>
	</ul>
</div>
