<div class="container">
	<% if user_signed_in?  %>
		<% if current_user.team_number_id.nil? %>
		<div class="new right">
			<button class="btn btn-success" data-toggle="modal" data-target=".request-modal">New Request</button>
		</div>
		<% elsif @team_events.include?(@event.key) %>
		<div class="new right">
			<button class="btn btn-success" data-toggle="modal" data-target=".request-modal">New Request</button>
		</div>
		<% end %>
	<% end %>
	<h2><%= @event.name %></h2>
	<%= @event.start_date.strftime("%A %B %d") %> - <%= @event.end_date.strftime("%A %B %d") %>
	<hr>

	<div><%= link_to 'View other Events', events_path %></div>
	<% if user_signed_in? %>
		<div class="modal fade request-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		    	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h4 class="modal-title">Select a Category</h4>
			    </div>
			    <div class="modal-body">
			    	<div class="row" id="categories" data-event-key="<%= @event.key %>">
				    	<div class="category col-md-4"><a class="thumbnail"><span>Motors</span></a></div>
				    	<div class="category col-md-4"><a class="thumbnail"><span>Batteries</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Chassis</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Cables</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Connectors</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Electrical Components</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Nuts & Screws</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Washers & Spacers</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Chains & Belts</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Machine Keys</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Drivers Station</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Bearings</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Wheels</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Gears</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Gearboxes</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Shafts</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Shaft Collars</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Retaining Clips</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Springs</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Pneumatics</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Game Pieces</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Adhesives</span></a></div>
						<div class="category col-md-4"><a class="thumbnail"><span>Miscellaneous</span></a></div>
					</div>
					<div id="parts-list" style="display:none;">
						<button class="btn btn-default" id="request-list-back"><span>Other Categories</span></button>
						<div class="row" id="new-request-parts-list">
						</div>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	<% end %>
	<div class="col-md-8 col-md-offset-2 table-responsive">
	<table class="table">
      <tbody>
      <% if @requests.blank? %>
        <tr>
          <td><h1 style="text-align:center;"><small>No Requests.</small></h1></td>          
        </tr>
      <% else %>
        <% @requests.each do |request| %>
          <tr>
            <td class="media">
              <div class="left"><div class="imgcenter"></div><%= image_tag("kop#{request.part.year}/#{request.part.picture}", class: "media-object") %></div>
              <div class="media-body">
                <div><h6 class="media-heading"><b><%= request.part.name %></b> <small>Quantity <b><%=  request.qty %></b></small></h6></div>
                <div><p><%= request.part.description %></p></div>
                <div class="left"><span class="label label-primary">Team <%= request.team_id %></span></div>
              </div>
              <% if current_user.admin? %>
              <div class="right"><%= button_to "Delete", event_request_path(:event_id => request.event_id, :id => request.id), :method => :delete, :class => "btn btn-danger" %></div>
              <% end %>
              <% if request.accepted %>
              <div class="right"><p>Accepted By</p><span class="label label-success"><% if request.accepted_by.nil? %>FIRST<% else %>Team <%= request.accepted_by %><% end %></span></div>
              <% elsif request.team_id == current_user.team_number_id %>
              <div class="right"><%= button_to "Delete", event_request_path(:event_id => request.event_id, :id => request.id), :method => :delete, :class => "btn btn-danger" %></div>
              <% elsif request.accepted == false %>
              <div class="right"><%= button_to "Accept", event_accept_request_path(:event_id => request.event_id, :id => request.id), :class => "btn btn-success" %></div>
              <% end %>
            </td>          
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
</div>
