<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Listing requests</h1>

<table>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.part_id %></td>
        <td><%= request.qty %></td>
        <td><%= request.event_id %></td>
        <td><%= request.team_id %></td>
        <td><%= link_to 'View', [request.event, request] %></td>
        <% if user_signed_in? && request.team_id = current_user.team_number_id %>
          <td><%= link_to 'Delete', [request.event, request], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>