<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Year</th>
      <th>Qty</th>
      <th>Event</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.part_id %></td>
        <td><%= request.year %></td>
        <td><%= request.qty %></td>
        <td><%= request.event_id %></td>
        <td><%= request.team_id %></td>
        <td><%= link_to 'Show', [request.event, request] %></td>
        
        <td><%= link_to 'Destroy', [request.event, request], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>