<!DOCTYPE html>
<html>
<head>
  <title>Binofparts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<div id="footer">
	<div class="footer col-xs-4 col-sm-8 col-md-6 col-xs-offset-4 col-sm-offset-2 col-md-offset-3">
			<div class="col-sm-6 hidden-xs section" id="links">
				<a href="http://blog.binofparts.com">Blog</a> &middot;
				<a target="_blank" href="https://facebook.com/binofparts">Facebook</a> &middot;
				<a target="_blank" href="https://twitter.com/binofparts">Twitter</a>
				<p>&copy; <?php echo date('Y'); ?> Bin of Parts, Inc</p>
			</div>
			<div class="col-sm-6 visible-xs section" id="links-xs">
				<a href="http://blog.binofparts.com">Blog</a> &middot;
				<a target="_blank" href="https://facebook.com/binofparts">Facebook</a> &middot;
				<a target="_blank" href="https://twitter.com/binofparts">Twitter</a>
			</div>
			<div class="col-sm-3 section" id="mixpanel">
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
			</div>
			<div class="col-sm-3 section" id="digitalocean">
				<a href="https://www.digitalocean.com"><%= image_tag "digitalocean-badge-white.png" %></a>
			</div>
	</div>
</div>

</body>
</html>
